## Name : Alireza Asadbeygi 

### Review group 5 

### topic :Supplemental Reading - JOIN or MERGE Data

This article gives review the three main types of merging or joining data frmaes  
or tables, and has different names for each one. also the article talk about some  
technical terms in data science that me intersting to hear about here.  
following is a short summary of this article which covers very important points. 
(( since the syntac in the article is based on R, so the codes are not provided ))

In the real world data science projects, data come from different sources 
and different tables. This data which include multiple data is called `rational` data.  
so in order to integrate these different data frames,these important methods must be  
considered:

Mutating Joins (Inner Joins): This technique allows us to alter or mutate our dataset, 
keeping only the rows with matching keys in both datasets. This process serves as a  
potent tool for extracting commonalities, and helpd in identifying shared elements.

Filtering Joins (Left Joins): as seen in the lecture notes, filtering joins maintain all rows  
from the left dataset while incorporating matched data from the right dataset.  
This method proves invaluable when inclusivity is crucial to the analysis.

Set Operations (Anti Joins): keeping the concept of exclusivity, set operations bring attention  
to the rows unique to the left dataset, excluding those with matches in the right dataset.  
This method is important and useful for isolating distinctive elements.

Learnign these operations is really essential for data scientists and analysts.  
These techniques empower professionals to handle datasets precisely,  
unraveling intricate relationships between different sources of data, and definitely  
an important part of data cleaning.

### review questions:

1- What is the primary purpose of a filtering join (left join) in relational data merging?

A. Highlight unique rows in the left dataset
B. Extract only the rows with matching keys in both datasets
C. Preserve all rows from the left dataset, filling in with matched data from the right dataset

Answer- C. Preserve all rows from the left dataset, filling in with matched data from the right dataset

2-Set operations (anti joins) are employed to emphasize the rows that are unique to the right dataset.

A. True
B. False
Answer -B. False

## What is aggregate function

## FENGYANG HAN

pandas groupby aggregate function, aggregate using one or more operations over the specified axis.

It mainly has two 4 parameters:
func: it can be a function, string, dictionary, or list of string/functions

axis: {0 or ‘index’, 1 or ‘columns’}, default 0

Usage Example:
```python
df.groupby(['A','D'],dropna = False).\
aggregate(B_min=('B', 'min'), 
            B_max=('B', 'max'),

            C_min=('C', 'min'),
            C_max=('C', 'max'),                
            C_my_func=('C', my_func)).\
reset_index()
```

Explanation:
1. You group df by different values in column A and B, and keep the NaN value in them. 
2. Then, you apply aggregate function to calculate some metrics on B and C.
3. Take B as an example, you calculate the min and max of it by specifying B column, and name them as B_min and B_max.
4. Take C as an example, you calculate the min and max of it by specifying C column, and name them as C_min and C_max.
5. You can also apply your own function to calculate the metrics, and name it as C_my_func.
6. Finally, you reset the index of the dataframe to avoid multi-index which might cause some problems in searching and sorting.

## Importance

When aggregating using the aggregate method, the func parameter can accept both built-in methods in Pandas and user-defined functions. Furthermore, these methods and functions can be applied to each column, multiple functions or methods can be applied to the same column, or different functions or methods can be applied to different columns, greatly enhancing the flexibility of data processing.

## True or False Question

Q1. In pandas, the groupby method always requires the use of the aggregate function to summarize the grouped data.


Answer: False


You can also use other methods like sum, mean, etc., directly after groupby.

Q2. In pandas, when using the groupby method, the columns you group by become the new index of the returned object, unless as_index is set to False.

Answer: True

If you specified more than one column to group by, the new index will be a multi-index. As introduced in the recording, we'd better reset the index after groupby to avoid multi-index which might cause some problems in searching and sorting.

## Methods for Missing Values

### Week 05 Summary Review

### Mark Godwin

It is important to identify Missing value in a Series or a DataFrame.  We can accomplish this with a few methods available to us using Pandas.  The `.isnull()` method can be used with Panda Series to convert the entire series into a `boolean`, displaying `True` or `False` values.  Missing values will display as True, and False means that the value is present.  `.isna()` is another method that accomplishes the same task, but can be used in both Panda Series and Pandas DataFrames.

We can summarize the number of missings by using `.isna().sum()`.  To view the proportion and see the percentage of each column or row that has missing values, we can use `.isna().mean()`.

To create a Complete Case, where all missings are removed, we can use the `.dropna()` method.  This will return a DataFrame free of missings, and display all values present.

### Questions

1 Which line of code will sum all the missings of all columns in a Panda DataFrame `df`?

A. df.isna().sum()

B. df.isna().mean()

C. df.dropna()

D. df.isnull()

Answer: A

2 Which line of code will sum the missings of all  rows of the same DataFrame `df` ?

A. df.isna().mean(axis=0)

B. df.isna().sum

C. df.isna().sum(axis=1)

D. df.dropna().mean(axis=0)

Answer: C

## `groupby()`, split-apply-combine

## Yixiao Li

The `.groupby()` method of a dataframe object in pandas works under the concept of **split-apply-combine**.

In [ ]:
# An example
df.groupby(['A'], dropna=False).\
aggregate(x_numrows = ('x', 'size'),
          x_nonmissing = ('x', 'count'),
          x_mean = ('x', 'mean'),
          x_std = ('x', 'std'),
          x_sem = ('x', 'sem'),
          x_unique = ('x', 'nunique')).\
reset_index()

In the above code example, **split** corresponds to the part, `.groupby(['A'], dropna=False)`, which conceptually is`.groupby(grouping variable, ...)`. Under that hood, it generates a bunch of data frames(groups) separated from the original data frame according to the different values of the grouping variable.  

**Apply**(apply aggregation method) and **combine** correspond to the part: `aggregate(x_numrows = ('x', 'size'), ...)`,  which conceptually is `.aggregate(named_column = ('grouped/studied variable', 'aggregation method'), ...)`.   

Each aggregation method returns a single summary statistic calculated for a column(grouped variable) of a single group separated from `groupby()` method. **Apply** will loop through all the data frames(all the groups) generated by `groupby()` to apply the aggregation method for the grouped variable.

**Combine** then combines all the single summary statistics for one column(a grouped variable) of each group calculated by a aggregation function into a column(named column), and combines all the named columns(corresponding to all the pairs of a grouped variable + a aggregation method) into a data frame.

This data frame is just the summary of all the statistics(the columns you named) for each group (a row in the data frame)

**PS**: Aggregation method is to aggregate all the data you're interested in into a single value/statistic, it could be `sum`, `mean`, `std`, `sem` or any summary statistic you want to know about the data.  

Below are some examples of aggregation methods

In [ ]:
df.mean() # caculate the means for all the columns in the data frame.

df['A'].mean() # calculate the mean for a specified column, A, in the data frame.

df.groupby(['G'], dropna=False).\
aggregate(x_mean = ('A', 'mean')). # caculate the mean for a specified column, A, for each group(data frame) separated from df by the unique values of G

#### Question 1

In the pandas library, what is the primary purpose of the `groupby()` method?

a) To sort data in ascending or descending order based on one or more columns.

b) To merge or concatenate two or more DataFrames.

c) To split data into groups based on some criteria and then apply a function to each group independently.

d) To reshape the DataFrame from a wide format to a long format.

Answer: c) To split data into groups based on some criteria and then apply a function to each group independently.

#### Question 2


In pandas, after using the `groupby()` method on a DataFrame, the result is always another DataFrame with the same number of rows as the original.

a) True

b) False

Answer: b) False

# Summarizing Series and DataFrames
## Tate Miner

Calculating summary statistics is a crucial first step when beginning to explore a dataset. Pandas includes a number of useful methods whose behavior is important to understand.

Because Pandas is built off of Numpy, many of these methods look and function the same way. `.mean()`, `.min()`, and `.max()` calculate the average, minimum value, and maximum value for the series or DataFrame. 

The `.var()` and `.std()` methods, however, differ from their Numpy counterparts in one notable respect. The Pandas versions are superior for data analysis in that the default degrees of freedom argument is set to 1, meaning that it calculates the **unbiased** estimate of these parameters.

It is also worth keeping in mind that summary methods will automatically remove any missing values before running the calculation - this is captured by the `skipna` argument, which by default is set to `True`. These summary values cannot be calculated if there are any missing values.

Summary methods can also be applied to entire DataFranes and across rows as well as individual columns. Because DataFrames can contain multiple data types, applying these methods across the entirety of the DataFrame will only count numeric values.

## Questions

1.) TRUE or FALSE: The default value for the argument `ddof` in the Pandas versions of `.var()` and `.std()` is 0.

2.) Which of the following best describes the behavior when applying summary methods **across rows** of a DataFrame that has both numeric and string (object) columns? See the line of code below for an example.

`df.mean(axis = 1)`

A. The summary statistic will be calculated only using non-numeric columns.

B. The summary statistic will be calculated only using numeric columns.

C. An error will be returned.

<details>
<summary>[Click here for answers]</summary>
1. False
2. B
</details>

## Megan Underwood 

Reading in .csv and .url files: 

Summary:  

Reading .csv and .url files refers to the process of extracting data from files with these specific formats. CSV or Comma-Separated Values files are a common format for storing structured data, such as spreadsheets and databases. Each line in a .CSV file typically represents a row of data, and values within the row are separated by commas. .CSV files are used for data exchange between different software applications. Many data analysis tools and programming languages (e.g., Python, R, Excel) have built-in support for reading and writing .CSV files. URL or Uniform Resource Locator files are a plain text file that contains a URL or web address. URL files help users save and organize their favorite websites or web resources. Clicking on a .URL file will open the associated website in a web browser.  

Questions: 

Question 1: What is the primary purpose of reading a .csv file? 

A) To store bookmarks and website links. B) To exchange structured data between different software applications. C) To create backups of databases. D) To perform advanced data analysis. 

Correct Answer: B) To exchange structured data between different software applications. 

Question 2: What is the main function of a .url file? 

A) To open a specific web page in a web browser. B) To create structured data for analysis. C) To store information in a spreadsheet. D) To exchange data between different web browsers. 

Correct Answer: A) To open a specific web page in a web browser.

# Group 5 

## Ellen Gaus

### Concatenation

`pd.concat()` is the function to combine data frames. The first listed object will appear first (as in on top), and the second listed object will appear second (on the bottom). 

The dataframes should be the same size and share the same column names in order to stack the dataframes on top of one another, resulting in a taller dataframe. If the dataframes are different sizes and do not share the same column names, `pd.concat()` will bind the columns, resulting in a wider dataframe as opposed to a taller dataframe.

The first listed object will become the left dataframe, and the second listed object will be the right dataframe.

`pd.concat()` by itself will vertically stack dataframes ontop of one another. As such, the index will repeat with each dataframe. Adding the argument ignore_index=True will create a unique index.

pd.concat( [dataframe1, dataframe2] ) is the same as pd.concat( [dataframe1, dataframe2], axis=0 )

## Review questions with answers

QUESTION: Which of the following will result in a new dataframe with a unique `.index` attribute?

1 - pd.concat( [dataframe1, dataframe2])
2 - pd.concat( [dataframe1, dataframe2], ignore_index=True)

ANSWER: pd.concat( [dataframe1, dataframe2], ignore_index=True)

QUESTION: True or False - concatenate can combine dataframes of different sizes

1 - True
2 - False

ANSWER: True

## Reading in excel files

## Segol


The pd.read_csv() method is used to retrieve data from a CSV file and formats that data into a Pandas data frame. This method is similar to read_excel(), except excel files have multiple sheets and CSV files only have one sheet. The method accepts the following arguements:
* filepath_or_buffer: the location of the file, and the only obligatory arguement. 
* sep: separator, default is a comma (', ') for comma seperated values (CSV).
* header: The row number that contains the column headers.
* usecols: Accepts a list of strings that refer to the column names to be used so that one can select specific columns.
* nrows: Accepts an integer that refers to how many rows are used from the CSV file.
* index_col: Used to assign column names to the index
* skiprows: Accepts a range of rows to include in the dataset if they were previously left out in the inital read.

In [ ]:
import pandas as pd

The code below shows an example of the read_csv() method with only the one obligatory arguement and the default parameters.

In [ ]:
pd.read_csv('hw05_prob_01.csv')

      A   B   C         x
0    a1  b0  C1 -6.240387
1    a1  b0  C1 -4.860661
2    a1  b0  C1 -5.066712
3    a1  b0  C1 -5.635156
4    a1  b0  C1 -4.893876
..   ..  ..  ..       ...
125  a2  b1  C2  1.155377
126  a2  b1  C2  2.818466
127  a2  b1  C2  3.294759
128  a2  b1  C2  2.398190
129  a2  b1  C2  2.527589

[130 rows x 4 columns]

Below, setting the index_col to 0 makes the zeroth column (A) the index.

In [ ]:
pd.read_csv('hw05_prob_01.csv', index_col = 0)

     B   C         x
A
a1  b0  C1 -6.240387
a1  b0  C1 -4.860661
a1  b0  C1 -5.066712
a1  b0  C1 -5.635156
a1  b0  C1 -4.893876
..  ..  ..       ...
a2  b1  C2  1.155377
a2  b1  C2  2.818466
a2  b1  C2  3.294759
a2  b1  C2  2.398190
a2  b1  C2  2.527589

[130 rows x 3 columns]

You can also limit the number of rows included. Below, only the first 5 rows are included.

In [ ]:
pd.read_csv('hw05_prob_01.csv', nrows = 5)

    A   B   C         x
0  a1  b0  C1 -6.240387
1  a1  b0  C1 -4.860661
2  a1  b0  C1 -5.066712
3  a1  b0  C1 -5.635156
4  a1  b0  C1 -4.893876

You can also exclude rows. The skiprows parameter accepts an integer that refers to the first n rows that will be skipped. However, you must set the header to None when using this method, or the first row of values will be assigned to the column headers.

In [ ]:
pd.read_csv('hw05_prob_01.csv', skiprows=2,header=None)

     a1  b0  C1  -4.8606610695201224
0    a1  b0  C1            -5.066712
1    a1  b0  C1            -5.635156
2    a1  b0  C1            -4.893876
3    a1  b0  C1            -6.626860
4    a1  b0  C1            -5.162203
..   ..  ..  ..                  ...
123  a2  b1  C2             1.155377
124  a2  b1  C2             2.818466
125  a2  b1  C2             3.294759
126  a2  b1  C2             2.398190
127  a2  b1  C2             2.527589

[128 rows x 4 columns]

Skiprows can also accept a range of numbers to ensure that you don't skip the first row containing the column headers.

In [ ]:
pd.read_csv('hw05_prob_01.csv', skiprows=[3,4],header=0)

      A   B   C         x
0    a1  b0  C1 -6.240387
1    a1  b0  C1 -4.860661
2    a1  b0  C1 -4.893876
3    a1  b0  C1 -6.626860
4    a1  b0  C1 -5.162203
..   ..  ..  ..       ...
123  a2  b1  C2  1.155377
124  a2  b1  C2  2.818466
125  a2  b1  C2  3.294759
126  a2  b1  C2  2.398190
127  a2  b1  C2  2.527589

[128 rows x 4 columns]

In [ ]:
pd.read_csv('hw05_prob_01.csv', skiprows=20,header=None)

      0   1   2         3
0    a1  b1  C1 -0.101313
1    a1  b1  C1  1.162981
2    a1  b1  C1  0.385787
3    a1  b1  C1 -0.655076
4    a1  b1  C1 -0.949339
..   ..  ..  ..       ...
106  a2  b1  C2  1.155377
107  a2  b1  C2  2.818466
108  a2  b1  C2  3.294759
109  a2  b1  C2  2.398190
110  a2  b1  C2  2.527589

[111 rows x 4 columns]

### Question 1

True or False: In the method pd.read_csv(), the default value of the parameter 'header' is 1.
a) True
b) False

Answer: b) False, the default is 0.

### Question 2

You don't want to include the first 20 rows of your CSV file. Which parameter would be most appropiate to achieve that result?
a) nrows
b) index_col
c) skiprows
d) sep

Answer: c) skiprows

# CMPINF 2100
## Review: Wave 1, Group 5 

### Understanding Unique Values

## Sarah Scott

#### Overview: 

Many summary methods important to Exploratory Data Analysis require the ability to identify the **unique values** in a Pandas series or DataFrame. For small, numerical data sets that are easy to quickly summarize through the visualization of the data, this might seem like an unimportant step. However, for large data sets or categorical/string variables, it is an essential one.

We can retrieve the number of unique values using `.nunique()`, which will **count** the number (n) of unique values in the series or column. Comparing this number to the `.size` attribute will provide us with a clear understanding of how many unique values are in the series/column. 
  
In a similar vein, the `.unique()` method lists the unique values in a series/column. This allows us to identify the unique elements themselves. 

One important Pandas method that focuses on unique values is `.value_count()`. This method counts the number of times a unique value occurs, and tells us how many times the values appear per value. 

*Important Note*: By default, these methods do **not** count missing values, so `dropna=False` is often used in conjunction with this method. 

#### Example: 

In the below example, we identify the use of `.unique()`, `.nunique()`, and `.value_count()`.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
the_fellowship = pd.Series( [ 'Hobbit', 'Hobbit', 'Hobbit', 'Hobbit', 'Wizard', 'Man', 'Man', 'Elf', 'Dwarf' ])

In [ ]:
print(the_fellowship.size)
print(the_fellowship.nunique())
print(the_fellowship.unique())

9
5
['Hobbit' 'Wizard' 'Man' 'Elf' 'Dwarf']

In the above code, we identify there are 9 values to the series, `the_fellowship`. However, using `.nunique()`, we identified only five of those values are unique. We are able to identify what those unique variables are using `.unique()`.

In [ ]:
the_fellowship.value_counts()

Hobbit    4
Man       2
Wizard    1
Elf       1
Dwarf     1
dtype: int64

Using `.value_counts()`, we can identify how many values are associated with each variable - in `the_fellowship`, there are four hobbits, two men, one wizard, one elf, and one dwarf.

### Review Questions

**Question 1:** TRUE/FALSE: The `.unique()` method only retrieves the *number* of unique values in a series/column. It does not list the unique values.  

**ANSWER**: False. The `.unique()` method *does* list the unique values.

**Question 2:** You are a teacher with a class of 100 students. You have created a DataFrame (`class_list`) of their names with three columns: first name (`first`), Last Name (`last`) and Full Name (`full`). You want to identify how many students have the same first name. What method would you use? 

* A `class_list.first.nunique()`
* B `class_list.first.unique()` 
* C `first.nunique()`
* D `class_list.full.nunique()`

**ANSWER:** A, `class_list.first.nunique()`

Both join and merge are fundamental operations in data manipulation and database design. They are used to combine datasets based on common column values.

## JIE ZHANG

### Joining datasets:

The join method in pandas is used to combine DataFrames based on index values. By default, join operates on indices, but you can also join on columns.

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2'])

df2 = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])

result = df1.join(df2, how='outer')  # 'outer' join includes all indices from both DataFrames.

print(result)

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

### Merging datasets:

The merge function is more flexible than join and is primarily used to combine datasets based on column values.

In [ ]:
df1 = pd.DataFrame({
    'key': ['K0', 'K1', 'K2'],
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

df2 = pd.DataFrame({
    'key': ['K0', 'K2', 'K3'],
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
})

result = pd.merge(df1, df2, on='key', how='outer')

print(result)

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3  NaN  NaN   C3   D3

### Merge types:

Inner (default): Only rows with matching keys in both dataframes are returned.

Outer: All rows from both dataframes are returned. Missing values are filled with NaN.

Left: All rows from the left dataframe and any rows from the right dataframe with matching keys are returned.

Right: All rows from the right dataframe and any rows from the left dataframe with matching keys are returned.

### Importance in Database Design:

Combining datasets using join or merge ensures that relationships between data are maintained. This is particularly crucial when working with relational databases where referential integrity is a concern.

Instead of storing repetitive data, databases can store related data in separate tables and combine them when necessary. This makes operations like updates more efficient and reduces storage needs.

Using joins and merges allows for flexibility in querying. You can obtain a holistic view from multiple tables, which would otherwise be scattered across the database.

By designing databases where related data is separated into different tables and then combined when necessary, you reduce the risk of data redundancy.

### Values MISSINGS

When join or merge datasets, there are scenarios where certain records do not have corresponding matches in the other dataset. In such cases, the result will contain missing values. The nature and location of these missing values depend on the type of join/merge used.

Inner Join/Merge: Only the records that have matching values in both datasets will be present in the result. Records that are in one dataset but not in the other will be excluded.There will be no missing values in the result because all non-matching records are omitted.

Outer Join/Merge: All records from both datasets will be present in the result. If a record in one dataset does not have a match in the other dataset, the result will have missing values (NaN in pandas) for all columns of the dataset where the match is missing.

Left Join/Merge: All records from the left dataset and only the matching records from the right dataset will be present. If a record in the left dataset doesn't have a corresponding match in the right dataset, the result will have missing values for all columns of the right dataset.

Right Join/Merge: All records from the right dataset and only the matching records from the left dataset will be present. If a record in the right dataset doesn't have a corresponding match in the left dataset, the result will have missing values for all columns of the left dataset.

### The differences between pandas' JOIN/MERGE and SQL's JOIN/MERGE operations.

**Functionality**

pandas' join and merge are primarily for data combination.
SQL's JOIN is also for data combination.
SQL's MERGE serves a dual purpose of synchronization (insert, update, delete based on join conditions).

**Use Cases:**

pandas operations are best suited for data analysis and manipulation in a Python environment.
SQL operations are best for managing and querying data within relational databases.
Immutable vs Mutable Operations:

By default, pandas' operations return new DataFrames and do not modify the original ones.
SQL's MERGE modifies the target table directly.

**Syntax and Environment:**

pandas operates within Python using method calls on DataFrames.
SQL's operations use declarative syntax and are executed within a database environment.
In essence, while both pandas and SQL offer join and merge-like operations, the context, usage, and underlying mechanics can differ significantly.

### Multiple Choice Questions:

1.Which parameter in pandas' merge function allows you to specify the type of merge to be performed?
a) type
b) kind
c) how
d) method

2.If you are performing a LEFT JOIN between df1 and df2 and a key is present in df1 but not in df2, the resulting dataframe will have:
a) No missing values.
b) Missing values for all columns of df1.
c) Missing values for all columns of df2.
d) An error is raised.

### True/False Questions:

1.If you perform a RIGHT JOIN in pandas between df1 and df2, and a certain key exists in df1 but not in df2, the resultant DataFrame will contain missing values for columns from df2.

A. True
B. False

2.After an INNER JOIN, the resulting DataFrame will never have missing values, irrespective of the DataFrames being joined.

A. True
B. False

**Answers:**

Multiple Choice:

c) how
c) Missing values for all columns of df2.

True/False:

False
True

# Group 5

## James Noyama

### Filter Pandas with Strings

There are two methods that allow one to filter Pandas using strings: `.isin()` and `.str.contains()`.

`.isin()` can be used to filter a Pandas DataFrame based on particular values. Using the `.isin()` method makes filtering more readable than having multiple `|` operators. If multiple string conditions are being searched for, a list must be given to the `isin()` method. The `isin()` method also allows searching for numeric values.

`.str.contains()` looks for a pattern within a string and returns all values containing that pattern. However, if the pattern being searched for is too small (e.g. 'a'), all values containing that string will be returned. 

The `str.contains()` method can also be used to search for periods, white space, and other characters. To do so, one must use the pattern that escapes special characters `\\`.

# Review questions and answers

**Question** TRUE of FALSE: The following two lines of code will result in the same DataFrame filter.

df.loc[ ( df.Animals == 'Birds' ) | ( df.Animals == 'Reptiles' ), : ]

df.loc[ df.Animals.isin( [ 'Birds', 'Reptiles' ] ), : ]

**Answer** True

**Question** Which of the following will search for a string containing a period `.`?
1) df.Animals.str.contains( ' . ' )
2) df.Animals.str.contains( ' \\\ . ' )
3) df.Animals.isin( ' . ' )
4) df.Animals.isin( ' \\\ . ' )

**Answer**

2) df.Animals.str.contains( ' \\\ . ' )